<div class="h-feed">
    <a href="/h-feed/" class="u-url">
        <h1 class="p-name">cobb.land | h-feed</h1>
    </a>
    <div class="h-card">
        <img class="u-photo" src="/images/android-chrome-512x512.png" />
        <a class="u-logo u-photo" href="/images/android-chrome-512x512.png"></a>
        <a class="u-url p-name" rel="me" href="https://cobb.land">Cobb</a>
        <a class="u-url" href="https://github.com/cobbland" rel="me"></a>
        <a rel="me" class="u-url" href="https://dice.camp/@cobb">@cobb@dice.camp</a>
        <a class="u-email" href="mailto:hello@cobb.land">hello@cobb.land</a>
        <p class="p-note">A writer, artist, programmer, and game designer currently dwelling in the foothills of Appalachia.</p>
    </div>
    {% for post in collections.post | reverse %}
        <article class="h-entry">
            <a href="{{ post.url }}" class="u-url">
                <h1 class="p-name">{{ post.data.title }}</h1>
            </a>
            <time class="dt-published dt-updated" datetime="{{ post.data.date }}"><p>{{ post.data.date.toDateString() }}</p></time>
            <a rel="syndication invisible" class="u-syndication" href="{{ possed }}"></a>
            {% if post.data.reply %}
                <a href="{{ post.data.reply }}" class="u-in-reply-to"><p>{{ post.data.reply }}</p></a>
            {% endif %}
            <p class="p-summary">{{ post.data.summary }}</p>
            <div class="e-content p-content">{{ post.content | safe }}</div>
        </article>
    {% endfor %}
</div>