---
title: cobb.land
layout: layout.html
special: home-title
---

<h2>Howdy!</h2>

<p>I'm <a href="/about">Cobb</a> (or cobbland or cobb-dot-land or even Jacob) and this is my <a href="/colophon">website</a>. Follow my <a href="/feed.xml">RSS feed</a> to keep up. I also make tabletop roleplay games and adventures as <a href="https://illuminatedsnail.com">Illuminated Snail</a>. And I have a <a href="https://buttondown.com/orbitaldetritus">newsletter</a> (for some reason).

<div class="home-latest">

    <div>
        <h2>Pages</h2>
    
        <div>
            <ul class="pages">
                {% for page in collections.page | limit(12) | sort(attribute='data.title') %}
                    <li>
                        <a href="{{ page.url }}">
                            {{ page.data.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <p class="pushdown"><a href="/pages">More pages</a></p>
    </div>

    <div>
        <h2>Posts</h2>
    
        <ul class="posts">
            {% for post in collections.post | reverse | limit(6) %}
                <li>
                    <a href="{{ post.url }}">
                        {{ post.data.title }}
                    </a>
                    <p class="date">{{ post.date.toDateString() }}</p>
                </li>
            {% endfor %}
        </ul>
    
        <p class="pushdown"><a href="/posts">More posts</a></p>
    </div>
    
</div>