---
title: Links
layout: layout.html
tags: [slashpage, page]
---

{% for post in collections.link | reverse %}
<div class="post-card">
    <a href="{{ post.data.link }}">
        <h2>{{ post.data.title }}</h2>
        <p class="post-card-summary">{{ post.data.summary }}</p>
        <p class="date">{{ post.date.toDateString() }}</p>
    </a>
</div>
{% endfor %}

<p>Subscribe via <a href="/links-feed.xml">RSS</a>.</p>