---
title: Links
layout: window.html
tags: [slashpage, page]
---

<style>
    [data-url]:after {
        content: " #" attr(id);
        visibility: visible;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    .shortcut {
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
    }
    .note:last-of-type {
        margin-bottom: 0;
    }
    p:first-of-type {
        margin-top: 0;
    }
</style>

<p>To shortcut to one of the links below, go to <code>cobb.land/links/#whattever</code>, replacing "whatever" with the listed hashtag.</p>

<ul>

    {% for shortcut in collections.link | sort(attribute='data.id') %}
        <li rel="bookmark" id="{{shortcut.data.id}}" data-url="{{shortcut.data.site}}">
            <a href="{{shortcut.data.site}}" class="shortcut">{{shortcut.data.site}}</a>
        </li>
    {% endfor %}

</ul>

<hr>

<p class="note">Copied from <a href="https://mat.tl/s/">mattl</a>.</p>

<script>
    var hash = window.location.hash.substring(1);
    const article = document.getElementById(hash);
    location.replace(article.dataset.url)
</script>