---
title: Now
layout: page.njk
tags: [slashpage, page]
date: 2026-01-06T11:51:00.00-05:00
---
<p><a href="https://nownownow.com/about">Now</a>:</p>
<ul>
    {% for post in collections.now | reverse %}
        {% if "current" in post.data.tags %}
            <li>
                {{post.content | safe}}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p><a href="/media">Reading/watching/playing</a>:</p>
<ul>
    {% for post in collections.media | reverse %}
    {% if "playlist" in post.data.tags %}
    {% if post.data.title != "LOCKED" and post.data.title != "EMPTY" %}
    <li><a href="{{post.url}}">{{post.data.title}}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

<p><a href="https://retroachievements.org/user/cobbland">RetroAchievements</a>:</p>
<ul>
    {% for item in recentGames %}
        <li>
            <a href="https://retroachievements.org/game/{{ item.GameID }}"><strong>{{ item.Title }}</strong></a>, {{ item.ConsoleName }}, {{ item.NumAchieved }}/{{ item.AchievementsTotal }} achievements
        </li>
    {% endfor %}
</ul>

<p><a href="https://libre.fm/user/cobbland">Listening</a>:</p>
<ul class="extra">
    {% for item in recentMusic %}
    <li>
        <a href="{{ item.albumUrl }}"><strong>{{ item.album }}</strong></a>, <a href="{{ item.artistUrl }}" style="font-weight: normal;">{{ item.artist }}</a>
    </li>
    {% endfor %}
</ul>

<p>Also, see side (or bottom) panels for music and more games</p>

<p class="note">Subscribe via <a href="/follow">RSS</a>.</p>