---
title: Pages
layout: window.html
tags: [slashpage, page]
---
<div class="pages">
    <ul>
        {% for page in collections.page | sort(attribute='data.title') %}
            <li>
                <a href="{{ page.url }}">
                    {{ page.data.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>