---
title: Posts
layout: window-pages.html
tags: [slashpage, page]
---
{% for post in collections.post | reverse %}
            {% if "article" in post.data.tags %}
                <div class="post-card">
                    <a href="{{ post.url }}">
                        <h2>{{ post.data.title }}</h2>
                    </a>
                    <p class="post-card-summary">{{ post.data.summary }}</p>
                    <p class="date">{{ post.date.toDateString() }}</p>
                </div>
            {% endif %}
            {% if "note" in post.data.tags %}
                <div class="post-card">
                    <div class="post-card-note">{{ post.content | safe }}</div>
                    <a href="{{ post.url }}">
                        <p class="date">{{ post.date.toDateString() }}</p>
                    </a>
                </div>
            {% endif %}
{% endfor %}

<p>Subscribe via <a href="/feed.xml">RSS</a>.</p>