---
title: Posts
layout: window-pages.html
---
{% for post in collections.post | reverse %}
    {% if "article" in post.data.tags %}
        <div class="post-card">
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
            <p class="post-card-summary">{{ post.data.summary }}</p>
            <p class="date">{{ post.date.toDateString() }}</p>
        </div>
    {% endif %}
    {% if "photo" in post.data.tags %}
        <div class="post-card">
            <a href="{{ post.url }}" style="background-color:inherit;">
                <img src="/posts/photos/images/{{ post.data.photo }}" alt="{{ post.data.caption }}">
            </a>
            <p class="post-card-note" style="margin-top:0;">{{ post.data.caption }}</p>
            <p class="date">{{ post.date.toDateString() }}</p>
        </div>
    {% endif %}
    {% if "review" in post.data.tags %}
        <div class="post-card">
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a>
                {% if post.data.score %}
                    ({{post.data.score}}/4)
                {% endif %}
            </h2>
            <p class="post-card-summary">{{ post.data.summary }}</p>
            <p class="date">{{ post.date.toDateString() }}</p>
        </div>
    {% endif %}
    {% if "reply" in post.data.tags %}
        <div class="post-card">
            <p class="note" style="margin: 0 0 3.2px;">Reply to <a href="{{ post.data.reply }}">{{ post.data.author }}</a></p>
            <div class="post-card-note">{{ post.content | safe }}</div>
            <p class="date">
                <a href="{{ post.url }}">{{ post.date.toDateString() }}</a>
            </p>
        </div>
    {% elif "bookmark" in post.data.tags %}
        <div class="post-card">
            <p class="note" style="margin: 0 0 3.2px;">Bookmark of <a href="{{ post.data.bookmark }}">{{ post.data.name }}</a></p>
            {% if post.data.quote %}
                <blockquote style="margin: 0;" cite="{{ post.data.bookmark }}">{{ post.data.quote }}</blockquote>
            {% endif %}
            <div class="post-card-note">{{ post.content | safe }}</div>
            <p class="date">
                <a href="{{ post.url }}">{{ post.date.toDateString() }}</a>
            </p>
        </div>
    {% elif "note" in post.data.tags %}
        <div class="post-card">
            <div class="post-card-note">{{ post.content | safe }}</div>
            <p class="date">
                <a href="{{ post.url }}">{{ post.date.toDateString() }}</a>
            </p>
        </div>
    {% endif %}
{% endfor %}

<p class="note">Subscribe via <a href="/follow">RSS</a>.</p>