---
title: Posts
layout: window-pages.html
tags: [slashpage, page]
---
{% for post in collections.post | reverse %}
<div class="post-card">
    <a href="{{ post.url }}">
        <h2>{{ post.data.title }}</h2>
        <p class="post-card-summary">{{ post.data.summary }}</p>
        <p class="date">{{ post.date.toDateString() }}</p>
{#        <div class="tags">
            <p>Tags:</p>
            {% for tag in post.data.tags %}
                <a href="" class="post-tag">
                    {{ tag }}
                </a>
            {% endfor %}
        </div> #}
    </a>
</div>
{% endfor %}

<p>Subscribe via <a href="/feed.xml">RSS</a>.</p>