:root {
    --border-color: #fff8e7;
    --bg-color: #fff8e7;
    --title-color: #D14D41;
    --heading-color: #006c67;
    --text-color: #1b1b1b;
    --link-color: rgb(193, 83, 0);
    --link-hover-color: #ED6D32;
    --note-color: #1b1b1b55;
    --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* :root {
    --border-color: #706DEB;
    --bg-color: #2E2C9B;
    --title-color: #706DEB;
    --heading-color: #706DEB;
    --text-color: #706DEB;
    --link-color: #706DEB;
    --link-hover-color: #706DEB;
    --note-color: #706DEB;
    --main-font-family: 'Courier New', Courier, monospace; 
    
} */

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%; /* Use `max-width: revert;` if an image is meant to overflow */
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-family);
    margin: 1rem 0 0.5rem 0;
}

input, button, textarea, select {
    font: inherit;
}

body { 
    line-height: 1.5; /* This requires customizing the line height for larger text. */
    background-color: var(--border-color);
    padding: 1rem;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

main {
    background-color: var(--bg-color);
    padding: 1rem;
    width: min(97%, 70ch);
    height: max-content;
}

section {
    margin: 1rem 0;
}

#title {
    line-height: 4rem;
    font-size: 4rem;
    color: var(--title-color);
    font-weight: bolder;
    word-wrap: break-word;
}

header h1 {
    margin: 0;
}

nav ul {
    font-family: var(--main-font-family);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    gap: 1rem;
}

nav a,
nav a:visited {
    text-decoration: none;
}

a#title,
a#title:visited {
    color: var(--title-color);
    font-weight: 900;
    text-decoration: none;
}

a#title:hover {
    color: var(--bg-color);
    background-color: var(--title-color);
}

h1, h2 {
    color: var(--heading-color);
    line-height: 1em;
}

h1 {
    font-size: 2rem;
}

p {
    color: var(--text-color);
}

ul {
    font-family: var(--main-font-family);
    padding: 1rem 0 0 1.5rem;
}

li {
    color: var(--text-color);
}

.email {
    font-weight: bold;
    color: var(--heading-color);
}

.construction {
    display: inline-block;
    transform: rotate(-3deg);
    transition: transform 0.3s;
}

.construction:hover {
    transform: rotate(10deg);
}

a,
a:visited {
    color: var(--link-color);
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

a:hover {
    /* text-decoration: wavy underline; */
    background-color: var(--link-hover-color);
    color: var(--bg-color);
    text-decoration: none;
}

.note {
    padding: 0;
    margin: 0;
    line-height: 1.7em;
    font-size: 0.7em;
    color: var(--note-color);
}

.invisible {
    display: none;
}