<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#b2b2b2">
    <title>{{ title }}</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48" type="image/x-icon">
    <link rel=icon href="/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel=icon href="/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel=icon href="/images/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel=icon href="/images/android-chrome-512x512.png" sizes="512x512" type="image/png">
    <link rel="apple-touch-icon icon" href="/images/apple-touch-icon.png" sizes="180x180" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="fediverse:creator" content="@cobb@dice.camp">
    <link rel="webmention" href="https://webmention.io/cobb.land/webmention">
    <link rel="pingback" href="https://webmention.io/cobb.land/xmlrpc">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a class="logo-image" href="/"><img src="/images/logotinywhite.png" alt="logo"><img src="/images/logotiny.png" alt="logo">cobb.land</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/pages">Pages</a>
                </li>
                <li>
                    <a href="/posts">Posts</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content-window">
        <div class="title-bar">
            <div class="title-lines">
                <div class="lines" aria-hidden="true">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                </div>
                <h1 class="title"><a class="backlink {{ special | default: "no-slash" }}" href="../">{{ special | default: "" }}</a><span class="title-text">{{ title }}</span></h1>
                <div class="lines" aria-hidden="true">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                    <hr class="title-bar-line">
                </div>
            </div>
        </div>
        <main>
                {{ content }}
        </main>
    </div>

    <footer>
            <a class="link-icon" href="https://cobb.land">
                <img src="/images/cobbland-8831.jpg" alt="old-school 88 by 31 pixel web image, orange and green, says cobb.land" height="31" width="88">
                <!-- <p>Link to me</p> -->
            </a>
            <a class="link-icon" href="https://cobb.land">
                <img src="/images/cobbland-8831-c64.jpg" alt="old-school 88 by 31 pixel web image, blue and light blue, says cobb.land" height="31" width="88">
                <!-- <p>Link to me</p> -->
            </a>
            <a class="link-icon" href="https://cobb.land">
                <img src="/images/cobbland-8831-bw.jpg" alt="old-school 88 by 31 pixel web image, black and white, says cobb.land" height="31" width="88">
                <!-- <p>Link to me</p> -->
            </a>
            <a class="link-icon" href="/feed.xml">
                <img src="/images/rss-8831.jpg" alt="RSS" height="31" width="88">
                <!-- <p>Subscribe</p> -->
            </a>
            <a class="link-icon" href="https://www.11ty.dev/">
                <img src="/images/eleventy.gif" alt="built with 11ty" height="31" width="88">
            </a>
            <a class="link-icon" href="https://moonpr1sm.com/random/30plusclub">
                <img src="/images/30plusclub.gif" alt="30+ club" height="31" width="88">
            </a>
            <a class="link-icon" href="https://32bit.cafe/">
                <img src="/images/32b-pcb.png" alt="32b cafe" height="31" width="88">
            </a>
            <a class="link-icon" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img src="/images/by-nc-sa.png" alt="cc by-nc-sa" height="31" width="88">
                <!-- <p>CC BY-NC-SA</p> -->
            </a>
            <a class="link-icon" href="https://indieweb.org/">
                <img src="/images/indieweb-88x31.gif" alt="EWC Now! indieweb.org" height="31" width="88">
                <!-- <p>indieweb.org</p> -->
            </a>
            <a class="link-icon" href="https://indieweb.org/">
                <img src="/images/indieweb88x31-flat.png" alt="Eindieweb.org" height="31" width="88">
                <!-- <p>indieweb.org</p> -->
            </a>
            <a class="link-icon" href="https://www.w3.org/TR/webmention/">
                <img src="/images/webmention88x31-flat.png" alt="webmentions" height="31" width="88">
                <!-- <p>indieweb.org</p> -->
            </a>
            <a class="link-icon" href="https://microformats.org/">
                <img src="/images/microformats88x31-flat.png" alt="microformats" height="31" width="88">
                <!-- <p>indieweb.org</p> -->
            </a>
            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" height="31" width="88" style="image-rendering: crisp-edges; vertical-align: middle;">
                <rect height="31" width="88" fill="#FC4F1E"></rect>
                <image href="/images/button-outline-88x31.png" opacity="0.6" height="31" width="88"></image>
                <a href="https://xn--sr8hvo.ws/previous">
                <text y="19px" x="4px" style="letter-spacing: -0.1em; font-size: 20px;stroke: white;paint-order: stroke;stroke-width: 2px; fill: black;">←</text>
                </a>
                <a href="https://xn--sr8hvo.ws">
                <text y="21px" x="23px" style="font-size: 18px; filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);">🕸💍</text>
                </a>
                <a href="https://xn--sr8hvo.ws/next">
                <text y="19px" style="font-size: 20px; letter-spacing: -0.1em; stroke: white;paint-order: stroke;stroke-width: 2px; fill: black;" x="71px">→</text>
                </a>
            </svg>
            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" height="31" width="88" style="image-rendering: crisp-edges; vertical-align: middle;">
                <rect height="31" width="88" fill="#FD8F25"></rect>
                <image href="/images/button-outline-88x31.png" opacity="0.6" height="31" width="88"></image>
                <a href="https://xn--sr8hvo.ws/random">
                <text y="21px" x="10px" style="font-size: 18px; filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);">🕸💍🎲</text>
                </a>
            </svg>
            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" height="31" width="88" style="image-rendering: crisp-edges; vertical-align: middle;">
                <rect height="31" width="88" fill="#ccc"></rect>
                <image href="/images/button-outline-88x31.png" opacity="0.6" height="31" width="88"></image>
                <a href="https://fediring.net/previous?host=cobb.land">
                <text y="19px" x="4px" style="letter-spacing: -0.1em; font-size: 20px;stroke: white;paint-order: stroke;stroke-width: 2px; fill: black;">←</text>
                </a>
                <a href="https://fediring.net">
                <text y="19px" style="font-size: 10px; filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);" x="19px">fediring</text>
                </a>
                <a href="https://fediring.net/next?host=cobb.land">
                <text y="19px" style="font-size: 20px; letter-spacing: -0.1em; stroke: white;paint-order: stroke;stroke-width: 2px; fill: black;" x="71px">→</text>
                </a>
            </svg>
    </footer>

    <div class="h-card invisible">
        <a class="u-url p-name" rel="me" href="https://cobb.land">Cobb</a>
        <a class="u-url" href="https://github.com/cobbland" rel="me"></a>
        <a rel="me" class="u-url" href="https://dice.camp/@cobb">@cobb@dice.camp</a>
        <a class="u-email" href="mailto:hello@cobb.land">hello@cobb.land</a>
        <a class="u-logo u-photo" href="/images/android-chrome-512x512.png"></a>
        <p class="p-note">A writer, artist, programmer, and game designer currently dwelling in the foothills of Appalachia.</p>
    </div>

</body>
</html>