---
layout: window.html
---

<h2>{{title}}</h2>

<ul>
    <li>{{creator}}</li>
    <li>{{cart}} ({{type}})</li>
    {% if started and finished %}
        <li>{{started.toDateString()}} – {{finished.toDateString()}}</li>
    {% else %}
        <li>{{date.toDateString()}}</li>
    {% endif %}
    {% if review %}
        <li><a href="{{review}}">{{score}}/4 — 
            {% if score == 1 %}
                do not recommend
            {% elseif score == 2 %}
                recommend with reservations
            {% elseif score == 3 %}
                recommend
            {% elseif score == 4 %}
                strongly recommend
            {% endif %}
        </a></li>
        {% elseif score %}
            <li>{{score}}/4 — 
            {% if score == 1 %}
                do not recommend
            {% elseif score == 2 %}
                recommend with reservations
            {% elseif score == 3 %}
                recommend
            {% elseif score == 4 %}
                strongly recommend
            {% endif %}
            </li>
    {% endif %}
</ul>

{{content | safe}}