---
layout: "layout.html"
---

<meta name="fediverse:creator" content="@cobb@dice.camp">

<article class="h-entry">

    <h1 class="p-name invisible">{{ title }}</h1>

    <p class="p-summary invisible">{{ summary }}</p>

    <div class="e-content">{{ content | safe}}</div>

    <p class="date">Posted or edited on <a class="u-url" href="{{ post.data.url }}"><time class="dt-published dt-updated" datetime="{{ date }}">{{ date.toDateString() }}</time></a> by <a rel="author" class="p-author h-card" href="/">Cobb</a>.</p>

    <img class="u-photo invisible" src="/images/android-chrome-512x512.png" />

</article>

