---
layout: "window.html"
---

<article class="h-entry">

    <h1 class="p-name">{{ title }}</h1>

    <p class="p-summary">{{ summary }}</p>

    <div class="e-content">{{ content | safe}}</div>

    <p class="article-date">Posted or edited on <a class="u-url" href="{{ page.url }}"><time class="dt-published dt-updated" datetime="{{ date }}">{{ date.toDateString() }}</time></a> by <a rel="author" class="p-author h-card" href="/">Cobb</a>.</p>

{#    <div class="tags">
        <p>Tags:</p>
        {% for tag in tags %}
            <a href="" class="post-tag">
                {{ tag }}
            </a>
        {% endfor %}
    </div> #}

    <a class="u-photo invisible" src="/images/android-chrome-512x512.png" /></a>

    <img class="u-photo invisible" src="/images/android-chrome-512x512.png" />

    <a rel="syndication invisible" class="u-syndication" href="{{ possed }}"></a>

</article>

<hr>

<div class="reply-buttons">
    <a class="link-button" href="https://webmention.io/cobb.land/webmention"><img src="/images/webmention-88x31.jpg" alt="webmention button" height="31" width="88" /></a>
    <a class="link-button" href="mailto:hello@cobb.land?subject={% uri title %}"><img src="/images/email-88x31.jpg" alt="email button" height="31" width="88" /></a>
    <a class="link-button" href="{{ possed }}"><img src="/images/mastodon-88x31.jpg" alt="mastodon button" height="31" width="88" /></a>
</div>