<div class="navigation alignment-{{navigation_alignment}}">
  <div class="container">
    <a id="logo" href="https://jacobdensford.com/">
      {{title}}
    </a>
    <div class="links">
      <a href="https://jacobdensford.com/about" title="About">About</a>
      <a href="https://jacobdensford.com/contact" title="Contact">Contact</a>
      <a href="/" title="Blog">Blog</a>
      <a href="/now" title="Now">Now</a>
      <a href="/archives" title="Archives">Archives</a>
      <a href="/feed.rss" title="RSS">RSS</a>
    </div>
  </div>
</div>