<script src="{{{scriptURL}}}" type="text/javascript"></script>

<script type="importmap">
{
  "imports": {
    "react": "https://esm.sh/react@18",
    "react-dom": "https://esm.sh/react-dom@18"
  }
}
</script>

<script type="module">
  import BlueskyComments from 'https://unpkg.com/bluesky-comments@0.7.0/dist/bluesky-comments.es.js';

  document.addEventListener('DOMContentLoaded', function () {
    // Check if the current page is a blog post
    if (document.body.classList.contains('post')) {
        // Execute the script
        const author = '<YOUR-BSKY-NAME>';
        if (author) {
          BlueskyComments.init('bluesky-comments', {
            author,
            onEmpty: (details) => {
              console.error('Failed to load comments:', details);
              document.getElementById('bluesky-comments').innerHTML =
                'No comments on this post yet. Details: ' + details.message;
            },
            commentFilters: [
              BlueskyComments.Filters.NoPins,
              BlueskyComments.Filters.MinCharacterCountFilter(1),
            ],
          });
        }
    }
  });
</script>

<div id="bluesky-comments"></div>